<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>eastmanchem.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emntodolistservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>emntodolistservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EMNToDoListService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EMNToDoListService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://eastmanchem.onmicrosoft.com/WebApp-emntodolistservice.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>faa24449-743c-4948-a992-bdf2ecd0d094</ADClientAPPID>
    <ADClientPassword>qLx0f9JScdcGYG3/ldNr1xfJ2YrLlKZ6IGzbQKxahKU=</ADClientPassword>
    <ADReplyUrl>https://emntodolistservice.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>9b50c80f-103b-4433-a91c-b4b06c507387</ADTenantId>
    <ADPostLogoutRedirectUri />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbTokenCache" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=DbTokenCache;User ID=emn_admin@emnazuresql;Password=Adm1n_3mn;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=DbTokenCache;User ID=emn_admin@emnazuresql;Password=Adm1n_3mn;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbTokenCache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:emnazuresql.database.windows.net,1433;Database=DbTokenCache;User ID=emn_admin@emnazuresql;Password=Adm1n_3mn;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ToDoList" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=ToDoList;Pooling=False;Connect Timeout=60;TrustServerCertificate=True" Name="Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=ToDoList;Connect Timeout=60;TrustServerCertificate=True;Pooling=false" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=ToDoList;User ID=emn_admin@emnazuresql;Password=Adm1n_3mn;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ToDoList_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:emnazuresql.database.windows.net,1433;Database=ToDoList;User ID=emn_admin@emnazuresql;Password=Adm1n_3mn;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbTokenCache-Web.config Connection String">
      <ParameterValue>Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=DbTokenCache;User ID=emn_admin@emnazuresql;Password=Adm1n_3mn;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ToDoList-Web.config Connection String">
      <ParameterValue>Data Source=tcp:emnazuresql.database.windows.net,1433;Initial Catalog=ToDoList;Connect Timeout=60;TrustServerCertificate=True;Pooling=false</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>