<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>eastmanchem.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emntodolistwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>emntodolistwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EMNToDoListWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EMNToDoListWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://eastmanchem.onmicrosoft.com/WebApp-emntodolistwebapp.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>fd31b949-1187-4c5b-8db6-a9ff34327a14</ADClientAPPID>
    <ADClientPassword>YWfCVmZuDPj0MXCUSSlEQxFdx/EhpHn1WR1ZnwyQCnk=</ADClientPassword>
    <ADReplyUrl>https://emntodolistwebapp.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>9b50c80f-103b-4433-a91c-b4b06c507387</ADTenantId>
    <ADPostLogoutRedirectUri>https://emntodolistwebapp.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>